<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">
       
  <context:annotation-config />
 
  <context:component-scan base-package="com.humaninference.tagcloud.rmi.worldofwords.runnables.configuration.implementation"/>
  <bean id="configuration" class="com.humaninference.tagcloud.rmi.worldofwords.runnables.configuration.implementation.SetClientConfiguration">
  <property name="masterHostname" value="HI-Animation-Master" /> 
  <property name="masterRMIPort"  value="50129"/>
  <property name="ourRMIPort"     value="50139"/>
  <property name="ourRMIIP"       value="192.168.1.37"/>
  <property name="ourRmiServiceName" value="RMICloud" />
  <property name="fullScreen"     value="false" />
  <property name="ourHumanReadableName" value="PLEASE MAKE A CONFIG FOR EACH PI" />
 
  </bean>   
</beans>